@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-magenta-100: #E2B6D3; /* pink lavender */
  --color-magenta-200: #C671AA; /* sky magenta */
  --color-magenta-300: #953C78; /* violet (crayola) */
  --color-magenta-400: #4D1F3D; /* brown chocolate */
  --color-magenta-500: #050204; /* asphalt */

  --color-blur-500: #F9F9FB4D;

  --color-navbar: #FFFFFF;

  --color-carrot-50: #FEF3E6;
  --color-carrot-100: #FDE9D3;
  --color-carrot-200: #FCD4A6;
  --color-carrot-300: #FABE7A;
  --color-carrot-400: #F8A749;
  --color-carrot-500: #F7931E; /* orange like */
  --color-carrot-600: #D47408;
  --color-carrot-700: #A25906;
  --color-carrot-800: #6C3C04;

  --color-vampire-400: #D6D6D6;
  --color-vampire-500: #545454; /* gray like */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
  
}

html, body{
  margin: 0;
  padding: 0;
  overflow-x:hidden;
  font-size: 16px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.header-custom {
  font-weight: 500;
  font-size: 42px;
  line-height: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
  letter-spacing: -2%;
}

.highlight-image-custom {
  width: 200px;
  height: 300px;
  border-radius: 15px;
}

/* COMPARISON SECTION: START*/

.list-item-custom {
  font-weight: 500;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: start;
}

.list-item-custom div{
  margin-top: 0px;
}

.comparison-container-custom{
  width: 100%;
  border-radius: 0.75rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-width: 1px;
}

@media (min-width: 1024px) { /* lg breakpoint */
  .comparison-container-custom{ 
    width: 34rem;
    height: 19.5rem;
    align-items: flex-start;
  }
}
/* END: COMPARISON SECTION*/